.u-color-primary {
	color: color(primary);
}

.u-color-secondary {
	color: color(secondary);
}

.u-color-black {
	color: tone(black);
}

.u-color-white {
	color: tone(white);
}

.u-color-light-grey {
	color: tone(light-grey);
}

.u-color-medium-grey {
	color: tone(medium-grey);
}

.u-color-dark-grey {
	color: tone(dark-grey);
}
