.u-fill-primary {
	background-color: color(primary);
}

.u-fill-secondary {
	background-color: color(secondary);
}

.u-fill-black {
	background-color: tone(black);
	color: tone(white);
}

.u-fill-white {
	background-color: tone(white);
	color: tone(black);
}

.u-fill-light-grey {
	background-color: tone(light-grey);
}

.u-fill-medium-grey {
	background-color: tone(medium-grey);
}

.u-fill-dark-grey {
	background-color: tone(dark-grey);
}
