{% extends "layout.flex.njk" %}
{% set constrain = "" %}
{% set sidebarleft = "1" %}
{% set sidebarright = "" %}
{% set body_class = "o-layout--home" %}

{% block content %}
	<div class="u-padding-small">
		<h1>mb.mbfw.pro</h1>
		<h2>Responsive Visibility</h2>
	</div>
{% endblock %}

{% block sidebarleft %}
	{% include "components/docs/sidebar.njk" %}
{% endblock %}
