<!-- Replace 'no-js'/'js' class on <html> -->
<script>
	var win = window, doc = win.document, docElem = doc.documentElement;
	docElem.className = docElem.className.replace(/\bno-js\b/g, '') + ' js ';
</script>