.c-navigation {
	position: relative;

	&__menu {
		position: absolute;
		display: none;
		flex-direction: column;
		width: 100vw;
	}

	&:active,
	&:hover {
		& > .c-navigation__menu {
			display: flex;
		}
	}

	&__expand {
		i {
			&:before {
				content: "\f078";
			}
		}
	}

	&__item {
		&:hover,
		&:active {
			& > .c-navigation__menu--submenu {
				display: flex;
				position: relative;
				width: 100vw;

				.c-navigation__item {
					background-color: $color-medium-grey;
				}
			}
			.c-navigation__expand {
				i {
					&:before {
						content: "\f077";
					}
				}
			}
		}
	}

	&__menu--submenu {
		display: none;
	}

	@include mq($from: desktop) {
		&__toggle {
			display: none;
		}

		& > .c-navigation__menu {
			position: unset;
			display: flex;
			flex-direction: row;
			width: fit-content;
		}

		&__item {

			&:hover,
			&:active {
				position: relative;
				& .c-navigation__menu--submenu {
					position: absolute;
					top: 2rem;
					width: max-content;
				}
			}
		}
	}
}
