// Reassign `$inuit-global-spacing-unit` to `$unit`.
$spacing-unit: $inuit-global-spacing-unit;
$spacing-unit--tiny: $inuit-global-spacing-unit-tiny;
$spacing-unit--small: $inuit-global-spacing-unit-small;
$spacing-unit--large: $inuit-global-spacing-unit-large;
$spacing-unit--huge: $inuit-global-spacing-unit-huge;


// Reassign lengthy font-size mixin to `font-size()`.
@mixin font-size($args...) {
  @include inuit-font-size($args...);
}
