{% extends "layout.flex.njk" %}
{% set constrain = "" %}
{% set sidebarleft = "" %}
{% set sidebarright = "" %}
{% set body_class = "o-layout--404" %}

{% block content %}
<div class="u-padding">
	Sorry, we couldn't find what you're looking for.
</div>
{% endblock %}
