{% extends "layout.flex.njk" %}
{% set constrain = "" %}
{% set sidebarleft = "1" %}
{% set sidebarright = "1" %}
{% set body_class = "l-layout--home" %}

{% block content %}

<div class="u-padding-small">
</div>

{% endblock %}
