{% extends "layout.flex.njk" %}
{% set constrain = "" %}
{% set sidebarleft = "" %}
{% set sidebarright = "" %}
{% set body_class = "o-layout--home" %}

{% block content %}

<div class="u-padding-small">
</div>

{% endblock %}
