{% extends "layout.flex.njk" %}
{% set constrain = "" %}
{% set sidebarleft = "" %}
{% set sidebarright = "" %}
{% set body_class = "o-layout--home" %}

{% block content %}

	<div class="u-padding-small">
		<h1>mb.mbfw.pro</h1>
		<h2>Mediablox Framework Prototyping System</h2>
		<p>Welcome to the Mediablox Framework Prototype Project.</p>

		<p>This is a template project for building web site prototypes using the Mediablox Framework (MBFW). This template is used to deliver static projects in blazing speed. It has a Gulp-powered build system with the following features:</p>

		<ul>
			<li>HTML templating with Nunjucks</li>
			<li>Sass compilation and prefixing</li>
			<li>JavaScript concatenation</li>
			<li>Built-in BrowserSync server</li>
			<li>JSON Datasets</li>
			<li>Pre-Populated with WP/Timber compatible fields</li>
			<li>For production builds:</li>
			<ul>
				<li>LCSS compression</li>
				<li>LJavaScript compression</li>
				<li>LImage compression</li>
			</ul>
	</ul>

	<h2>Prerequisites</h2>

	<p>To use this template, your computer needs:</p>

	<ul>
		<li>
			<a href="https://nodejs.org/en/">NodeJS (0.12 or greater)</a>
		</li>
		<li>
			<a href="https://git-scm.com/">Git</a>
		</li>
	</ul>

	<h2>Installation</h2>

	<p>To set up the template, first download it with Git:</p.

<pre>
git clone https://github.com/mediablox/mb.mbfw.pro.git projectname
</pre>

Then open the folder in your command line, and install the needed dependencies:

<pre>
cd projectname
npm install
npm setup
</pre>

<p>Finally, run `npm start` to run Gulp. Your finished site will be created in a folder called `dist`, viewable at this URL:</p>

<pre>
http://localhost:3000
</pre>

<p>To create compressed, production-ready assets, run `npm run build`.</p>

<h2>Stack</h2>

<ul>
	<li>
		<a href="https://html5boilerplate.com/">HTML5BoilerPlate</a>
	</li>
	<li>
		<a href="https://mozilla.github.io/nunjucks/">Nunjucks</a>
	</li>
	<li>
		<a href="https://github.com/mediablox/mb.mbfw">Mediablox Framework (MBFW)</a>
	</li>
</ul>

<h2>Mediablox Framework (MBFW)</h2>

<p>The Mediablox Framework is a bespoke web development framework. It was developed as an in-house alternative to Bootstrap, Foundation, UI Kit etc. which have very oppinionated styles.</p>
<p>It started life as a form of InuitCSS by Harry Styles, which has now been adapted in as a dependency for continued updates.</p>
<p>The framework comprises of three core components, mbfw.scss, mbfw.js and mbfw.components.</p>

<ul>
	<li>
		<a href="https://github.com/mediablox/mb.mbfw.scss">mbfw.scss</a>
	</li>
	<li>
		<a href="https://github.com/mediablox/mb.mbfw.js">mbfw.js</a>
	</li>
	<li>
		<a href="https://github.com/mediablox/mb.mbfw.components">mbfw.components</a>
	</li>
</ul>

<h3>MBFW Dependencies</h3>

<ul>
	<li>
		<a href="https://github.com/inuitcss/inuitcss">InuitCSS</a>
	</li>
	<li>
		<a href="https://github.com/sass-mq/sass-mq">Sass-MQ</a>
	</li>
	<li>
		<a href="https://jquery.com/">jQuery</a>
	</li>
	<li>
		<a href="https://jqueryui.com/">jQuery-UI</a>
	</li>
	<li>
		<a href="https://ten1seven.github.io/what-input/">What Input</a>
	</li>
	<li>
		<a href="https://scrolldir.com/">ScrollDir</a>
	</li>
</ul>

<h2>Coding Conventions</h2>

<p>Where possible, always try to adhere to the coding standards of the project. This may not be possible for some components, in which case you should at the very least wrap the component in container that can be specifically targetted.</p>

<ul>
	<li>
		<a href="http://bradfrost.com/blog/post/atomic-web-design/">UI Philosophy: Atomic Design</a>
	</li>
	<li>
		<a href="https://css-tricks.com/bem-101/">Naming Convention: B.E.M.</a>
	</li>
	<li>
		<a href="https://github.com/inuitcss/inuitcss/blob/develop/README.md#css-directory-structure">Architecture: ITCSS</a>
	</li>
	<li>
		<a href="https://csswizardry.com/2015/03/more-transparent-ui-code-with-namespaces/">Namespacing: Single prefix, architecture reflective</a>
	</li>
</ul>

<h2>Useful Resources</h2>

<ul>
	<li>
		<a href="https://developers.google.com/web/fundamentals/) - Google's opinionated reference for building amazing web experience">Google Web Fundementals</a>
	</li>
	<li>
		<a href="https://cssguidelin.es/) High-level advice and guidelines for writing sane, manageable, scalable CS">CSS Guidelines:</a>
	</li>
	<li>
		<a href="https://sass-guidelin.es/) An opinionated styleguide for writing sane, maintainable and scalable Sass">Sass Guidelines:</a>
	</li>
	<li>
		<a href="https://www.interaction-design.org/literature/)The biggest and most authoritative library of open-source UX Design resource">Interaction Design Foundation:</a>
	</li>
	<li>
		<a href="https://gridbyexample.com/) Everything you need to learn CSS Grid Layou">Grid by Example:</a>
	</li>
	<li>
		<a href="https://css-tricks.com/snippets/css/a-guide-to-flexbox/) A complete guide to Flexbo">CSS-Tricks:</a>
	</li>
	<li>
		<a href="https://www.svgbackgrounds.com/) Customizable SVG patterns and background designs for websites and blog">SVGBackgrounds.com:</a>
	</li>
</ul>

<h2>Authors</h2>

<p>Dean Morgan - Initial Work - Mediablox</p>

<p>See also the list of contributors who worked on this project</p>

<h2>License</h2>

<p>This project is licensed under the MIT License - see the LICENSE.md file for details</p>

</div>

{% endblock %}
