<!doctype html>
<html class="no-js" lang="en">

	<head>
		<meta charset="utf-8">
		<title>mb.mbfw.pro</title>
		<meta name="description" content="mb.mbfw.pro">
		<meta name="viewport" content="width=device-width, initial-scale=1">
		<meta name="author" content="Mediablox">
		<link rel="stylesheet" href="/assets/css/main.css">
		<script src="/assets/js/main.js"></script>
	</head>

	<body>
		<!--[if IE]>
    <p class="browserupgrade">You are using an <strong>outdated</strong> browser. Please <a href="https://browsehappy.com/">upgrade your browser</a> to improve your experience and security.</p>
  <![endif]-->
		<div class="o-layout">
			<div class="o-layout__header">
				{% block header %}Header{% endblock %}
			</div>
			<div class="o-layout__body">
					<div class="o-layout__main u-1/1@mobile u-1/5@desktop">
					{% block main %}Main{% endblock %}
					</div>
					<div class="o-layout__sidebar o-layout__sidebar--left u-1/1@mobile u-1/2@tablet u-1/5@desktop">
					{% block sidebar_left %}Left{% endblock %}
					</div>
					<div class="o-layout__sidebar o-layout__sidebar--right u-1/1@mobile u-1/2@tablet u-1/5@desktop">
					{% block sidebar_right %}Right{% endblock %}
					</div>
			</div>
			<div class="o-layout__footer">Footer</div>
		</div>
	</body>

</html>
