<div class="c-topbar">
    <div class="c-topbar__content u-padding-tiny u-fill-primary">This is where the topbar message goes</div>
</div>

<div class="o-flex">
    <div class="o-flex__item o-flex__item--grow u-padding-small">
        <div class="c-logo">
					<img src="/assets/img/png/vv-logo.png">
				</div>
    </div>
    <div class="o-flex__item u-padding-small">Search</div>
    <div class="o-flex__item u-padding-small">User Account</div>
    <div class="o-flex__item u-padding-small">Minicart</div>
</div>

<ul class="c-nav o-flex o-flex--center o-list-bare u-fill-light-grey">
    <li class="c-nav__item o-flex__item o-list-bare__item">
        <div class="c-nav__label u-padding">E-Liquid</div>
    </li>
    <li class="c-nav__item o-flex__item o-list-bare__item">
        <div class="c-nav__label u-padding">E-Cigarette Kits</div>
    </li>
    <li class="c-nav__item o-flex__item o-list-bare__item">
        <div class="c-nav__label u-padding">Pods</div>
    </li>
    <li class="c-nav__item o-flex__item o-list-bare__item">
        <div class="c-nav__label u-padding">Mods</div>
    </li>
    <li class="c-nav__item o-flex__item o-list-bare__item">
        <div class="c-nav__label u-padding">Tanks</div>
    </li>
    <li class="c-nav__item o-flex__item o-list-bare__item">
        <div class="c-nav__label u-padding">Coils</div>
    </li>
    <li class="c-nav__item o-flex__item o-list-bare__item">
        <div class="c-nav__label u-padding">Batteries</div>
    </li>
    <li class="c-nav__item o-flex__item o-list-bare__item">
        <div class="c-nav__label u-padding">Accessories</div>
    </li>
</ul>
