<div class="u-fill-primary">
	<div class="o-flex o-flex--space-between o-flex--middle u-wrapper">
		<div class="o-flex__item">
			<div class="c-social-icons o-flex">
				<div class="c-social-icons__item o-flex__item u-padding-small">
					<i class="fab fa-3x fa-facebook"></i>
				</div>
				<div class="c-social-icons__item o-flex__item u-padding-small">
					<i class="fab fa-3x fa-instagram"></i>
				</div>
				<div class="c-social-icons__item o-flex__item u-padding-small">
					<i class="fab fa-3x fa-twitter-square"></i>
				</div>
			</div>
		</div>
		<div class="o-flex__item">
			<div class="c-newsletter-box u-text-right u-padding-small">
				<div class="c-newsletter-box__label u-h5">Sign up to our newsletter</div>
				<div class="o-flex">
					<div class="c-newsletter-box__input c-newsletter-box__input--email o-flex__item">
						<input type="email">
					</div>
					<div class="c-newsletter-box__input c-newsletter-box__input--submit o-flex__item">
						<input type="submit">
					</div>
				</div>
			</div>
		</div>
	</div>
</div>

<div class="u-fill-secondary">
	<div class="o-flex o-flex--center u-wrapper u-padding-top">
		<div class="o-flex__item o-flex__item--grow">
			<div class="c-logo">
				<img src="/assets/img/png/vv-logo.png">
			</div>
			<div class="c-postal-address u-margin-left">
				<div class="c-postal-address__item">Street</div>
				<div class="c-postal-address__item">Town</div>
				<div class="c-postal-address__item">County</div>
				<div class="c-postal-address__item">Post Code</div>
				<div class="c-postal-address__item">01234 567890</div>
			</div>
		</div>
		<div class="o-flex__item">
			<ul class="c-nav o-flex o-flex--column o-list-bare u-margin-horizontal">
				<li class="c-nav__item o-flex__item o-list-bare__item u-padding-tiny u-h4">Menu Item</li>
				<li class="c-nav__item o-flex__item o-list-bare__item u-padding-tiny">Menu Item</li>
				<li class="c-nav__item o-flex__item o-list-bare__item u-padding-tiny">Menu Item</li>
				<li class="c-nav__item o-flex__item o-list-bare__item u-padding-tiny">Menu Item</li>
				<li class="c-nav__item o-flex__item o-list-bare__item u-padding-tiny">Menu Item</li>
				<li class="c-nav__item o-flex__item o-list-bare__item u-padding-tiny">Menu Item</li>
			</ul>
		</div>
		<div class="o-flex__item">
			<ul class="c-nav o-flex o-flex--column o-list-bare u-margin-horizontal">
				<li class="c-nav__item o-flex__item o-list-bare__item u-padding-tiny u-h4">Menu Item</li>
				<li class="c-nav__item o-flex__item o-list-bare__item u-padding-tiny">Menu Item</li>
				<li class="c-nav__item o-flex__item o-list-bare__item u-padding-tiny">Menu Item</li>
				<li class="c-nav__item o-flex__item o-list-bare__item u-padding-tiny">Menu Item</li>
				<li class="c-nav__item o-flex__item o-list-bare__item u-padding-tiny">Menu Item</li>
				<li class="c-nav__item o-flex__item o-list-bare__item u-padding-tiny">Menu Item</li>
			</ul>
		</div>
		<div class="o-flex__item">
			<ul class="c-nav o-flex o-flex--column o-list-bare u-margin-horizontal">
				<li class="c-nav__item o-flex__item o-list-bare__item u-padding-tiny u-h4">Menu Item</li>
				<li class="c-nav__item o-flex__item o-list-bare__item u-padding-tiny">Menu Item</li>
				<li class="c-nav__item o-flex__item o-list-bare__item u-padding-tiny">Menu Item</li>
				<li class="c-nav__item o-flex__item o-list-bare__item u-padding-tiny">Menu Item</li>
				<li class="c-nav__item o-flex__item o-list-bare__item u-padding-tiny">Menu Item</li>
				<li class="c-nav__item o-flex__item o-list-bare__item u-padding-tiny">Menu Item</li>
			</ul>
		</div>
		<div class="o-flex__item">
			<div class="o-flex">
				<div class="o-flex__item u-padding-tiny">1</div>
				<div class="o-flex__item u-padding-tiny">1</div>
				<div class="o-flex__item u-padding-tiny">1</div>
				<div class="o-flex__item u-padding-tiny">1</div>
			</div>
		</div>
	</div>
</div>

<div class="o-flex o-flex--space-between u-fill-black">
	<div class="o-flex__item u-padding-small">VAT Registration Number: 123456789</div>
	<div class="o-flex__item u-padding-small">Copyright 2019 Company Name</div>
</div>
