<div class="u-padding-small">
<h2>Components</h2>
<ul class="o-list-bare">
	<li class="o-list-bare__item">
		<a href="/docs/alert.html">Alert</a>
	</li>
	<li class="o-list-bare__item">
		<a href="/docs/badge.html">Badge</a>
	</li>
	<li class="o-list-bare__item">
		<a href="/docs/button.html">Button</a>
	</li>
	<li class="o-list-bare__item">
		<a href="/docs/label.html">Label</a>
	</li>
</div>
