<div class="u-padding-small">
	<h2>Settings</h2>
	<ul class="o-list-bare">
		<li class="o-list-bare__item">
			<a href="/docs/settings/config.html">Config</a>
		</li>
	</ul>

	<h2>Components</h2>
	<ul class="o-list-bare">
		<li class="o-list-bare__item">
			<a href="/docs/components/topbar.html">Topbar</a>
		</li>
		<li class="o-list-bare__item">
			<a href="/docs/components/navigation.html">Navigation</a>
		</li>
		<li class="o-list-bare__item">
			<a href="/docs/components/alert.html">Alert</a>
		</li>
		<li class="o-list-bare__item">
			<a href="/docs/components/badge.html">Badge</a>
		</li>
		<li class="o-list-bare__item">
			<a href="/docs/components/button.html">Button</a>
		</li>
		<li class="o-list-bare__item">
			<a href="/docs/components/label.html">Label</a>
		</li>
	</ul>

	<h2>Objects</h2>
	<ul class="o-list-bare">
		<li class="o-list-bare__item">
			<a href="/docs/objects/layout.html">Layout</a>
		</li>
		<li class="o-list-bare__item">
			<a href="/docs/objects/flex.html">Flex</a>
		</li>
	</ul>

	<h2>Utilities</h2>
	<ul class="o-list-bare">
		<li class="o-list-bare__item">
			<a href="/docs/utilities/color.html">Color</a>
		</li>
		<li class="o-list-bare__item">
			<a href="/docs/utilities/overflow.html">Overflow</a>
		</li>
		<li class="o-list-bare__item">
			<a href="/docs/utilities/responsive-visibility.html">Responsive Visibility</a>
		</li>
		<li class="o-list-bare__item">
			<a href="/docs/utilities/text-align.html">Text Align</a>
		</li>
		<li class="o-list-bare__item">
			<a href="/docs/utilities/text-transform.html">Text Transform</a>
		</li>
		<li class="o-list-bare__item">
			<a href="/docs/utilities/wrapper.html">Wrapper</a>
		</li>
	</ul>
</div>
