// Load any Google fonts here
@import url('https://fonts.googleapis.com/css?family=IBM+Plex+Sans|Quicksand&display=swap');

// Declare main page font
$mb-font-family: 'Quicksand', sans-serif;
$mb-heading-font-family: 'Quicksand', sans-serif;

h1,
h2,
h3,
h4,
h5,
h6,
.u-h1,
.u-h2,
.u-h3,
.u-h4,
.u-h5,
.u-h6,
.c-nav {
	font-family: $mb-heading-font-family;
}
