<nav  class="c-navigation">
{{ testname }}
	<div class="c-navigation__toggle u-padding-small">
		<i class="fas fa-2x fa-bars"></i>
	</div>
	<ul class="c-navigation__menu o-list-bare o-flex o-flex--row">
		<li class="c-navigation__item o-list-bare__item o-flex__item u-padding-tiny">
			<a href="/">
				<div class="c-navigation__label">Home</div>
			</a>
		</li>
		<li class="c-navigation__item o-list-bare__item o-flex__item u-padding-tiny">
			<a href="/doc">
				<div class="c-navigation__label">Docs</div>
			</a>
			<ul class="c-navigation__menu c-navigation__menu--submenu o-list-bare o-flex">
				<li class="c-navigation__item o-list-bare__item o-flex__item u-padding-tiny">
					<a href="/docs/alert.html">
						<div class="c-navigation__label">Alert</div>
					</a>
				</li>
				<li class="c-navigation__item o-list-bare__item o-flex__item u-padding-tiny">
					<a href="/docs/badge.html">
						<div class="c-navigation__label">Badge</div>
					</a>
				</li>
				<li class="c-navigation__item o-list-bare__item o-flex__item u-padding-tiny">
					<a href="/docs/button.html">
						<div class="c-navigation__label">Button</div>
					</a>
				</li>
				<li class="c-navigation__item o-list-bare__item o-flex__item u-padding-tiny">
					<a href="/docs/label.html">
						<div class="c-navigation__label">Label</div>
					</a>
				</li>
			</ul>
		</li>
		<li class="c-navigation__item o-list-bare__item o-flex__item u-padding-tiny">
			<a href="/page.html">
				<div class="c-navigation__label">Page</div>
			</a>
		</li>
		<li class="c-navigation__item o-list-bare__item o-flex__item u-padding-tiny">
			<a href="/single.html">
				<div class="c-navigation__label">Single Post</div>
			</a>
		</li>
		<li class="c-navigation__item o-list-bare__item o-flex__item u-padding-tiny">
			<a href="/author.html">
				<div class="c-navigation__label">Archive</div>
			</a>
		</li>
	</ul>
</nav>
