<ul class="c-navigation u-fill-light-grey">
	<li class="c-navigation__item c-navigation__item--megamenu">
		<input class="c-navigation__checkbox" type="checkbox" id="eliquid-toggle">
		<label class="c-navigation__label" for="eliquid-toggle">
			<span>E-Liquid</span>
			<i class="fas fa-caret-down u-color-primary"></i>
			<i class="fas fa-caret-up u-color-primary"></i>
		</label>
		<div class="c-navigation__submenu o-flex u-fill-medium-grey">
			<div class="o-flex__item u-1/2 u-padding-tiny">Left Panel</div>
			<div class="o-flex__item u-1/2 u-padding-tiny">Right Panel</div>
		</div>
	</li>
	<li class="c-navigation__item o-flex__item o-list-bare__item">
		<input class="c-navigation__checkbox" type="checkbox" id="ecigarette-toggle">
		<label class="c-navigation__label" for="ecigarette-toggle">
			<span>E-Cigarette Kits</span>
			<i class="fas fa-caret-down u-color-primary"></i>
			<i class="fas fa-caret-up u-color-primary"></i>
		</label>
		<div class="c-navigation__submenu o-flex o-flex--column u-fill-medium-grey">
			<div class="o-flex__item u-padding-tiny">Left Panel</div>
			<div class="o-flex__item u-padding-tiny">Right Panel</div>
		</div>
	</li>
	<li class="c-navigation__item o-flex__item o-list-bare__item">
		<div class="c-navigation__label">Pods</div>
	</li>
	<li class="c-navigation__item o-flex__item o-list-bare__item">
		<div class="c-navigation__label">Mods</div>
	</li>
	<li class="c-navigation__item o-flex__item o-list-bare__item">
		<div class="c-navigation__label">Tanks</div>
	</li>
	<li class="c-navigation__item o-flex__item o-list-bare__item">
		<div class="c-navigation__label">Coils</div>
	</li>
	<li class="c-navigation__item o-flex__item o-list-bare__item">
		<div class="c-navigation__label">Batteries</div>
	</li>
	<li class="c-navigation__item o-flex__item o-list-bare__item">
		<div class="c-navigation__label">Accessories</div>
	</li>
</ul>
