<nav  class="c-navigation">
	<div class="c-navigation__toggle u-padding-small">
		<i class="fas fa-2x fa-bars"></i>
	</div>
	<ul class="c-navigation__menu o-list-bare u-margin-none u-bg-color-secondary">
		<li class="c-navigation__item o-list-bare__item">
			<a href="/" class="c-navigation__label">
				<div class="u-padding-tiny">Home</div>
			</a>
		</li>
		<li class="c-navigation__item o-flex o-flex--wrap o-flex--middle o-flex--space-between o-list-bare__item">
			<a href="/docs" class="c-navigation__label o-flex__item o-flex__item--grow">
				<div class="u-padding-tiny">Docs</div>
			</a>
			<div class="c-navigation__expand o-flex__item u-padding-tiny u-padding-horizontal-small">
				<i class="fas fa-chevron-up"></i>
			</div>
			<ul class="c-navigation__menu c-navigation__menu--submenu o-list-bare">
				<li class="c-navigation__item o-list-bare__item">
					<a href="/docs/components" class="c-navigation__label">
						<div class="u-padding-tiny">Components</div>
					</a>
				</li>
				<li class="c-navigation__item o-list-bare__item">
					<a href="/docs/objects" class="c-navigation__label">
						<div class="u-padding-tiny">Objects</div>
					</a>
				</li>
				<li class="c-navigation__item o-list-bare__item">
					<a href="/docs/utilities" class="c-navigation__label">
						<div class="u-padding-tiny">Utilities</div>
					</a>
				</li>
				<li class="c-navigation__item o-list-bare__item">
					<a href="/docs/settings" class="c-navigation__label">
						<div class="u-padding-tiny">Settings</div>
					</a>
				</li>
			</ul>
		</li>
		<li class="c-navigation__item o-list-bare__item">
			<a href="/page.html" class="c-navigation__label">
				<div class="u-padding-tiny">Page</div>
			</a>
		</li>
		<li class="c-navigation__item o-list-bare__item">
			<a href="/single.html" class="c-navigation__label">
				<div class="u-padding-tiny">Single Post</div>
			</a>
		</li>
		<li class="c-navigation__item o-list-bare__item">
			<a href="/author.html" class="c-navigation__label">
				<div class="u-padding-tiny">Archive</div>
			</a>
		</li>
	</ul>
</nav>
