<div class="c-topbar o-flex o-flex--middle o-flex--wrap o-flex--space-between u-bg-color-primary">
	<div class="c-topbar__item o-flex__item u-1/1 u-padding-tiny u-bg-color-secondary">This is the message bar</div>
	<div class="c-topbar__item o-flex__item">
		{% include "components/navigation.njk" %}
	</div>
	<div class="c-topbar__item o-flex__item">LOGO</div>
	<div class="c-topbar__item o-flex__item">
		<div class="u-padding-small">
			<i class="fas fa-2x fa-shopping-basket"></i>
		</div>
	</div>
</div>
